* {
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}
#app .transparent-underlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  transition: 350ms ease-out;
  pointer-events: none;
  z-index: 900;
}
#app .transparent-underlay.active {
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

h1, h2, h3, h4, ul {
  margin: 0;
}

h1, h2, h3 {
  line-height: 1.1;
  font-weight: 700;
  color: #FFFFFF;
}
h1 span, h2 span, h3 span {
  color: #53FDCAFF;
}

h1, h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #8a8f98;
  margin: 0;
}
p span {
  color: #53FDCAFF;
}

@media only screen and (min-width: 480px) {
  h1, h2 {
    font-size: 46px;
  }

  h3 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 991px) {
  h1, h2 {
    font-size: 52px;
  }

  h3 {
    font-size: 36px;
  }

  p {
    font-size: 18px;
  }
}
/*************************************************************************/
/* ------------------------ Theme Color Variables ---------------------- */
/*************************************************************************/
/*************************************************************************/
/* ---------------------------- Swiper --------------------------------- */
/*************************************************************************/
.swiper {
  height: auto;
}

.swiper-pagination {
  margin-bottom: 15px;
}

.swiper-pagination-bullet {
  margin: 0 8px !important;
  background: #FFFFFF;
  width: 10px;
  height: 10px;
}

/*************************************************************************/
/* ------------------------ Vue3 Video Player -------------------------- */
/*************************************************************************/
.play-pause-layer .btn-control {
  width: 45px;
  height: 45px;
  border-radius: unset;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='15' viewBox='0 0 13 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7.5L0.249999 14.8612L0.25 0.138783L13 7.5Z' fill='black'/%3E%3C/svg%3E%0A");
  background-position: 52% 50%;
  background-repeat: no-repeat;
  background-size: 15px;
  margin: 0;
  transform: translate(-50%, -40%);
}
.play-pause-layer .btn-control svg {
  display: none;
}

.play-pause-layer .btn-control:hover {
  background-color: #53FDCA;
}

.play-pause-layer .btn-control::before {
  display: none;
}

.vcp-progress-hover .vcp-progress,
.vcp-progress {
  background-color: #121212;
}

.vcp-progress-loaded {
  background-color: #252525;
}

.vcp-progress-played {
  background-color: #53FDCA;
}

/*# sourceMappingURL=main.css.map */
