* {
  box-sizing: border-box;
  font-family: 'Red Hat Display 400', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;

  .transparent-underlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0);
    transition: 350ms ease-out;
    pointer-events: none;
    z-index: 900;
  }

  .transparent-underlay.active {
    pointer-events: all;
    background-color: rgba(0,0,0,0.6);
    cursor: pointer;
  }
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

h1, h2, h3, h4, ul {
  margin: 0;
}

h1, h2, h3 {
  line-height: 1.1;
  font-family: 'Red Hat Display 700', sans-serif;
  color: #FFFFFF;

  span {
    color: #53FDCAFF;
    font-family: 'Red Hat Display 700', sans-serif;
  }
}

h1, h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: .4px;
  color: #8a8f98;
  margin: 0;

  span {
    color: #53FDCAFF;
  }
}

@media only screen and (min-width: 480px) {
  h1, h2 { font-size: 46px; }
  h3     { font-size: 30px; }
}

@media only screen and (min-width: 768px) {
  p { font-size: 16px; }
}

@media only screen and (min-width: 991px) {
  h1, h2 { font-size: 52px; }
  h3     { font-size: 36px; }
  p      { font-size: 18px; }
}

/*************************************************************************/
/* ------------------------ Theme Color Variables ---------------------- */
/*************************************************************************/

$main-color: #53FDCA;
$main-text-color: #31bd93;
$main-color-light: rgba(68,219,174,.15);

// Dark background colors
$bc-dark-1: #0F0F0F;
$bc-dark-2: #121212;
$bc-dark-3: #191919;
$bc-dark-4: #1F1F1F;
$bc-dark-5: #252525;
$bc-dark-6: #3B3B3B;

// Light background colors
$bc-light-default: #FFFFFF;
$bc-light-1: #f6f6f6;

// Text colors
$default-text-color: #FFFFFF;
$primary-text-color: $bc-dark-4;
$secondary-text-color: #8a8f98;
$tertiary-text-color: #7C7C7C;

// border colors
$nav-border-val: 1px solid $bc-dark-5;
$primary-border-val: 1px solid $bc-dark-6;

/*************************************************************************/
/* ---------------------------- Swiper --------------------------------- */
/*************************************************************************/

.swiper {
  height: auto;
}

.swiper-pagination {
  margin-bottom: 15px;
}

.swiper-pagination-bullet {
  margin: 0 8px !important;
  background: $bc-light-default;
  width: 10px;
  height: 10px;
}

/*************************************************************************/
/* ------------------------ Vue3 Video Player -------------------------- */
/*************************************************************************/

.play-pause-layer .btn-control {
  width: 45px!important;
  height: 45px!important;
  border-radius: unset!important;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='15' viewBox='0 0 13 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7.5L0.249999 14.8612L0.25 0.138783L13 7.5Z' fill='black'/%3E%3C/svg%3E%0A")!important;
  background-position: 52% 50%!important;
  background-repeat: no-repeat!important;
  background-size: 15px!important;
  margin: 0!important;
  transform: translate(-50%, -40%)!important;

  svg {
    display: none!important;
  }
}

.play-pause-layer .btn-control:hover {
  background-color: $main-color!important;

}

.play-pause-layer .btn-control::before {
  display: none!important;
}

.vcp-progress-hover .vcp-progress,
.vcp-progress {
  background-color: $bc-dark-2!important;
}

.vcp-progress-loaded {
  background-color: $bc-dark-5!important;
}

.vcp-progress-played {
  background-color: $main-color!important;
}
.volume-control .btn-control-panel .progress .volume-current {
  background-color: $main-color!important;
}

/*************************************************************************/
/* --------------------------- Font Families --------------------------- */
/*************************************************************************/

@font-face {
  font-family: 'Varino';
  src: url('@/assets/fonts/FontsFree-Net-Centauri.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display 400';
  src: url('@/assets/fonts/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display 700';
  src: url('@/assets/fonts/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono 400';
  src: url('@/assets/fonts/SpaceMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('@/assets/fonts/SpaceMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

