$pure-air-main-color: #0E243F;

#diewell-website {
  padding: 0 15px 25px;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .text-wrapper {
      margin-bottom: 82%;

      .website-label {
        width: 135px;
        margin-bottom: 20px;
      }

      h2 {
        color: $primary-text-color;
        margin-bottom: 15px;

        span {
          color: #122944;
        }
      }

      p {
        margin-bottom: 25px;
      }

      .button-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .button {
          height: 58px;
          width: 100%;
          padding: 14px 28px;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 1px;
          text-decoration: none;
          transition: color .2s,background-color .2s;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .button.primary {
          background-color: $pure-air-main-color;
          color: $default-text-color;
        }

        .button.primary:hover {
          background-color: $bc-dark-2;
          color: $bc-light-default;
        }

        .button.secondary {
          background-color: $bc-dark-2;
          color: $bc-light-default;
        }

        .button.secondary:hover {
          background-color: $pure-air-main-color;
          color: $default-text-color;
        }
      }
    }

    picture {
      width: 100%;
    }

    .diewell-website-image {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 580px) {
  #diewell-website {
    padding-bottom: 35px;

    .container {
      .text-wrapper {
        max-width: 500px;
        margin: 0 0 450px;

        .website-label {
          width: 150px;
          margin-right: calc(50vw - 262px);
        }

        .button-wrapper {
          flex-direction: row;
          justify-content: flex-start;
          column-gap: 15px;

          p {
            max-width: 500px;
          }

          .button {
            width: 175px;
            height: 58px;
          }
        }
      }

      picture,
      .diewell-website-image {
        max-width: 550px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #diewell-website {
    padding: 0 25px;
    background-color: #EAEAEA;

    .container {
      position: relative;
      flex-direction: row;
      column-gap: 50px;

      .website-label {
        width: 150px;
      }

      .text-wrapper {
        max-width: 400px;
        margin-bottom: 40px;
      }

      .diewell-website-image {
        position: absolute;
        left: 47%;
        width: 80%;
        bottom: 50%;
        max-width: 675px;
        transform: translateY(52%);
      }
    }
  }
}

@media only screen and (min-width: 991px) {
  #diewell-website {
    margin-top: -282px;
    padding: 148px 0 25px;
    background-color: #EAEAEA;

    .container {
      flex-direction: row;
      column-gap: 50px;
      padding: 70px 40px 20px;
      z-index: 0;

      .text-wrapper {
        max-width: 500px;
        margin-bottom: 75px;
        z-index: 10;

        .website-label {
          position: absolute;
          width: 150px;
          right: unset;
          margin-right: unset;
          left: 42px;
          top: -6px;
        }
      }

      .diewell-website-image {
        width: 95%;
        max-width: 720px;
        top: 50%;
        left: 48%;
        transform: translateY(-52%);
        z-index: 15;
      }
    }

    .container::before {
      width: calc(100% - 2px);
      height: 100%;
      left: 20px;
      background-color: #FFFFFF;
    }
  }

  #diewell-website .container::before {
    content: '';
    position: absolute;
    width: 80%;
    right: 20px;
    height: 92%;
    top: 0;
    background-color: $bc-light-1;
    z-index: 5;
  }
}


@media only screen and (min-width: 1120px) {
  #diewell-website {
    padding: 155px 0 20px;

    .container {
      padding: 70px 0 25px 45px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  #diewell-website {
    padding: 182px 0 67px;

    .container {
      padding: 100px 100px 45px 95px;

      .text-wrapper {
        margin: 0;

        .website-label {
          width: 175px;
          left: 20px;
          right: unset;
        }
      }

      .diewell-website-image {
        width: 800px;
        max-width: 800px;
        transform: translateY(-42%);
        right: 0;
        bottom: 0;
      }
    }

    .container::before {
      height: 100%;
      right: unset;
      left: 0;
    }
  }
}
