#tab-section.suggest-app {
  h2 span {
    color: #FB893D;
  }

  .button:hover {
    background-color: #FB893D;
  }
}

.project-idea {
  position: relative; //
  overflow: hidden; //
  width: 100%;
  max-width: 1075px;
  height: 80%;
  margin: 0 auto;
  padding: 18px 18px 18px;
  background-color: #252525;
  border: 1px solid #3B3B3B;

  .heading {
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
    max-width: 580px;
  }

  p {
    text-align: left;
    margin-bottom: 20px;
  }

  .button {
    position: relative;
    height: 58px;
    width: 100%;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: #FFFFFF;
    z-index: 10;
  }

  .wireframes-bc {
    display: none;
  }

  .button {
    position: relative;
    height: 58px;
    width: 100%;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: #FFFFFF;
    z-index: 10;
  }

  .button:hover {
    background-color: #53FDCA;
    color: #121212;
  }

}


@media only screen and (min-width: 480px) {
  .project-idea .heading {
    font-size: 30px;
  }
}


@media only screen and (min-width: 500px) {
  .project-idea {
    .button {
      width: 240px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .project-idea {
    .heading {
      line-height: 1.25;
    }

    p {
      text-align: justify;
    }

    .wireframes-bc {
      display: block;
      width: 100%;
      float: right;
    }
  }
}

@media only screen and (min-width: 991px) {
  .project-idea .heading {
    font-size: 36px;
  }
}

