#tech-stack-tab {
  position: relative;
  width: 100%;
  max-width: 1075px;
  height: 100%;
  margin: 0 auto;

  .table-row {
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    padding: 18px 18px 45px;
    background-color: $bc-dark-5;
    border: $primary-border-val;
    margin: 0 auto;

    span {
      color: $default-text-color;
      margin-bottom: 15px;
    }

    .column {
      margin-bottom: 30px;
    }

    .column.technology {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #2d2c2c;
      padding: 12px;
      column-gap: 12px;

      .logo {
        width: 26px;
        height: 26px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      span {
        font-size: 18px;
        color: $default-text-color;
        margin-bottom: 0;
      }
    }

    .column.usage {
      padding-left: 20px;

      li {
        font-size: 15px;
        line-height: 1.6;
        font-weight: 400;
        color: $secondary-text-color;
        margin-bottom: 5px;

        span {
          color: $main-text-color;
        }
      }
    }

    .column.description {
      position: relative;
      max-height: 130px;
      overflow: hidden;

      p {
        color: $secondary-text-color;
      }

      .show-more {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60%;
        background-image: linear-gradient(to top, rgba(31,31,31, 0.9) 45%, rgba(31,31,31,0));
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        column-gap: 8px;
        padding-bottom: 20px;

        span {
          color: $main-color;
          text-align: center;
          font-size: 14px;
          margin: 0;
        }

        svg {
          width: 14px;
          height: 16px;
          fill: $main-color !important;
        }
      }
    }

    .column.description.open {
      max-height: unset;
      padding-bottom: 36px;

      .show-more {
        height: auto;
        background-image: unset;
        padding-bottom: 12px;

        svg {
          transform: rotate(180deg);
        }
      }
    }

    .column.implemented-by {
      display: flex;
      align-items: center;
      column-gap: 12px;

      .profile-image {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: $bc-dark-6;
      }

      .name-wrapper {
        .github {
          color: $main-text-color;
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 5px;
        }
        .name {
          font-size: 16px;
          color: $default-text-color;
        }
      }
    }
  }
}

@media only screen and (min-width: 991px) {
  #tech-stack-tab {
    #table-header {
      display: flex;
      align-items: center;
      height: 54px;
      border-top: $primary-border-val;
      border-bottom: $primary-border-val;
      background-color: $bc-dark-5;

      .th {
        padding-left: 15px;
        font-size: 14px;
        color: $default-text-color;
      }

      .th.technology {
        min-width: 16%;
      }

      .th.usage {
        min-width: 22%;
      }

      .th.description {
        flex: 1
      }
      .th.implemented-by {
        min-width: 20%;
      }
    }

    .table-row {
      max-width: unset;
      flex-direction: row;
      background-color: unset;
      border-bottom: $primary-border-val;
      border-top: unset;
      border-left: unset;
      border-right: unset;
      padding: 0;

      .column {
        margin: 0;
      }

      .column:not(.column:first-child) {
        border-left: $primary-border-val;
      }

      .column.technology {
        min-width: 16%;
        background-color: unset;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 18px 0 0 15px;
      }

      .column.usage {
        min-width: 22%;
        padding: 10px 0 0 28px;
      }

      .column.description {
        padding: 10px 15px;

        p {
          font-size: 14px;
        }
      }

      .column.implemented-by {
        min-width: 20%;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 18px 0 18px 15px;
      }
    }
  }
}
