#tech-stack-tab {
  position: relative;
  width: 100%;
  max-width: 1075px;
  height: 100%;
  margin: 0 auto;

  #table-header {
    display: none;
  }

  .table-row {
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    padding: 18px 18px 45px;
    background-color: $bc-dark-5;
    border: $primary-border-val;
    margin: 0 auto;

    span {
      color: $default-text-color;
      margin-bottom: 15px;
    }

    .column {
      margin-bottom: 30px;
    }

    .column.technology {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #2d2c2c;
      padding: 12px;
      column-gap: 12px;

      svg {
        width: 23px;
        height: 32px;
      }

      span {
        font-size: 18px;
        color: $default-text-color;
        margin-bottom: 0;
      }
    }

    .column.usage {
      padding-left: 20px;

      li {
        font-size: 15px;
        line-height: 1.6;
        font-weight: 400;
        color: $secondary-text-color;
        margin-bottom: 5px;
      }
    }

    .column.description p {
      color: $secondary-text-color;
    }

    .column.implemented-by {
      display: flex;
      align-items: center;
      column-gap: 12px;

      .profile-image {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: $bc-dark-6;
      }

      .name-wrapper {
        .github {
          color: $main-text-color;
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 5px;
        }
        .name {
          font-size: 16px;
          color: $default-text-color;
        }
      }
    }
  }
}
