.project-idea {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1075px;
  height: 80%;
  margin: 0 auto;
  padding: 18px 18px 18px;
  background-color: #252525;
  border: 1px solid #3B3B3B;
}
.project-idea .heading {
  font-size: 24px;
  text-align: left;
  margin-bottom: 20px;
  max-width: 670px;
}
.project-idea p {
  text-align: left;
  margin-bottom: 20px;
}
.project-idea .button {
  position: relative;
  height: 58px;
  width: 100%;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: #FFFFFF;
  z-index: 10;
}
.project-idea .wireframes-bc {
  display: none;
}
.project-idea .button {
  position: relative;
  height: 58px;
  width: 100%;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: #FFFFFF;
  z-index: 10;
}
.project-idea .button:hover {
  background-color: #53FDCA;
  color: #121212;
}

@media only screen and (min-width: 480px) {
  .project-idea .heading {
    font-size: 30px;
  }
}
@media only screen and (min-width: 500px) {
  .project-idea .button {
    width: 240px;
  }
}
@media only screen and (min-width: 768px) {
  .project-idea .heading {
    line-height: 1.25;
  }
  .project-idea p {
    text-align: justify;
  }
  .project-idea .wireframes-bc {
    display: block;
    width: 100%;
    float: right;
    shape-outside: url("@/assets/images/Rebalancing_Tool_Text_Shape.png");
    margin-right: -240px;
    margin-top: 30px;
    margin-bottom: -160px;
    shape-margin: 60px;
  }
}
@media only screen and (min-width: 840px) {
  .project-idea .wireframes-bc {
    margin-right: -280px;
    margin-top: 0;
    margin-bottom: -220px;
  }
}
@media only screen and (min-width: 900px) {
  .project-idea .wireframes-bc {
    margin-right: -215px;
  }
}
@media only screen and (min-width: 991px) {
  .project-idea {
    padding: 40px;
  }
  .project-idea .heading {
    font-size: 36px;
  }
  .project-idea .wireframes-bc {
    margin-top: -20px;
    margin-right: -280px;
    margin-bottom: -220px;
  }
}
@media only screen and (min-width: 1100px) {
  .project-idea .wireframes-bc {
    shape-margin: 80px;
    margin-top: -70px;
  }
}
@media only screen and (min-width: 1280px) {
  .project-idea {
    background-color: unset;
    border: unset;
    max-width: unset;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-bottom: -45px;
    margin-top: -50px;
    padding: 50px;
  }
  .project-idea .wireframes-bc {
    width: 92%;
    margin-bottom: -350px;
    margin-top: -150px;
  }
}
/************************************************************************************/
/* ----------------------------- Suggest App Section ------------------------------ */
/************************************************************************************/
.tab-section.suggest-app .container .project-idea .heading span {
  color: #FB893D !important;
}
.tab-section.suggest-app .container .project-idea .button:hover {
  background-color: #FB893D !important;
}

@media only screen and (min-width: 768px) {
  .tab-section.suggest-app .container .project-idea .wireframes-bc {
    margin-bottom: -305px;
    shape-outside: url("@/assets/images/Suggest_Idea_Text_Shape.png");
  }
}
@media only screen and (min-width: 840px) {
  .tab-section.suggest-app .container .project-idea .wireframes-bc {
    margin-right: -280px;
    margin-top: 0;
    margin-bottom: -220px;
  }
}
@media only screen and (min-width: 900px) {
  .tab-section.suggest-app .container .project-idea .wireframes-bc {
    margin-top: -35px;
    margin-bottom: -324px;
  }
}
@media only screen and (min-width: 1100px) {
  .tab-section.suggest-app .container .project-idea .wireframes-bc {
    shape-margin: 80px;
    margin-top: -70px;
  }
}
@media only screen and (min-width: 1280px) {
  .tab-section.suggest-app .container .project-idea .wireframes-bc {
    width: 92%;
    margin-bottom: -440px;
    margin-top: -148px;
  }
}

/*# sourceMappingURL=project-idea.css.map */
