#blog-page {
  min-height: 100vh;
  padding: 120px 15px 35px;

  .container {
    h2 {
      color: $bc-dark-2;
      font-size: 22px;
      line-height: 1.3;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .blog-container {
      display: flex;
      flex-direction: column-reverse;
      column-gap: 45px;

      main {
        flex: 1;

        .blog-grid {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr;
          grid-auto-rows: auto;
          row-gap: 30px;
        }

        .blog-post {
          width: 100%;

          .blog-image {
            width: 100%;
            aspect-ratio: 3 / 2;
            background-color: #d9d9d9;
            margin-bottom: 18px;
          }

          .category {
            color: $main-text-color;
            font-size: 12px;
            text-transform: uppercase;
            font-family: 'Space Mono 400',sans-serif;
            letter-spacing: 1px;
            margin-bottom: 8px;
          }

          h2 {
            font-size: 18px;
            line-height: 1.4;
            font-weight: 500;
            margin-bottom: 10px;
          }

          .blog-post-info {
            color: #8a8f98;
            font-size: 12px;
            text-transform: uppercase;
            font-family: 'Space Mono 400',sans-serif;
            letter-spacing: 1px;
            margin-bottom: 0px;
          }
        }
      }

      aside {

      }
    }
  }
}

@media only screen and (min-width: 580px) {
  #blog-page .container .blog-container main .blog-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
  }
}

@media only screen and (min-width: 768px) {
  #blog-page {
    padding: 120px 20px 45px;

    .container .blog-container main .blog-grid {
      column-gap: 45px;
    }
  }
}


@media only screen and (min-width: 991px) {
  #blog-page {
    padding: 120px 20px 55px;

    .container .blog-container main .blog-grid {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 25px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  #blog-page {
    padding: 120px 20px 70px;

    .container .blog-container {
      flex-direction: row;

      main .blog-grid {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;
      }
    }
  }
}
